body{
    background-color:#f8f9fa;
}
.bold{
    font-weight: 700;
}
.mr-30 {
    margin-right: 30px;
}
.img-header{
    border-radius: 50%;
}

.btn-hover:hover{
    border: none ;
    color: #0dcaf0 ;
    background-color: #f8f9fa;
    border-radius: 4px;
}
.btn-style{
    border: none;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-style{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
